

<div class="container d-flex flex-wrap align-items-center">
    <div class="w-50">
        @{Html.RenderAction("PVTotTrasgr");}
    </div>
    <div class="w-50">
        @{Html.RenderAction("PVPtTrasgr");}
    </div>
    <div class="w-50">
        @{Html.RenderAction("PVOverTenPoints");}
    </div>
    <div class="w-50">
        @{Html.RenderAction("PVCostoMaggiore");}
    </div>
</div>
